#map {
    position: relative;
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    /* top: 0; */
    /* left: 0; */
    /* zindex: 0; */
    /* setting the zindex to zero makes sure it's behind other elements */
}

.mapcontainer{
    overflow: hidden;
    padding-bottom: 70%;
    position: relative;
    height: 0;
}