/* .map-container-7 {
    position: relative;
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    top: 0; 
    left: 0;
    zindex: 0;
    setting the zindex to zero makes sure it's behind other elements
} */

.map-container-7 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

/* Imported CSS from the bootstrap widget we found */
.map-container-7{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
  
    #map{
        height: 500px;
    }

    /* Background Image */
    body {
        background-image: url("../images/RoadTrip-Background-Image.jpg");
      }

      /* .navbar-brand {
        font-family: 'Liu Jian Mao Cao', cursive;
        font-size: 20px;
      } */

      .container-fluid-nav
      {
          border:1px solid #000;
          margin-top: 20px;
      }